body {
  text-align: center;
  margin-top: 30px;
  font-family: courier;
  background-color: pink;
  color: white;
}
#dessertquestion {
  font-size: 50px;
  margin-bottom: 30px;
  font-weight: bold;
}
.dessert-item {
  display: inline-table;
  margin: 10px;
  vertical-align: top;
  color: white;
}
.dessert-item img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  border: 5px solid #ff9494;
  object-fit: cover;
  padding: 10px;
}
.dessert-item label {
  display: block;
}
.button {
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  margin: 10px;
  font-family: "courier";
  margin-bottom: 20px;
  background-color: #ffe3e1;
  color: white;
  border-radius: 12px;
  border: 2px solid #ffe3e1;
}
body, body * {
color: white !important;
}
